### Tuples
* Orderded collection of items or elements
* IMMUTAble
* Syntax : ()

In [1]:
Players = ("Rohit", "Virat", "Rahane")

In [2]:
print(Players)

('Rohit', 'Virat', 'Rahane')

In [4]:
type(Players)

tuple

In [6]:
Players[0]

'Rohit'

#### To access any element element use []

In [8]:
len(Players)

3

In [10]:
Players[-1]

'Rahane'

In [11]:
Players[:1]

('Rohit',)

In [12]:
Players[:2]

('Rohit', 'Virat')

In [13]:
Players.index('Virat')

1

In [14]:
t = (100, [1, 2, 3], 'March', 2021)

In [15]:
t

(100, [1, 2, 3], 'March', 2021)

In [16]:
len(t)

4

In [17]:
Players

('Rohit', 'Virat', 'Rahane')

In [18]:
Players[0] = "Rohit Sharma"     ## Immutable

TypeError: 'tuple' object does not support item assignment

In [19]:
t

(100, [1, 2, 3], 'March', 2021)

In [20]:
t[1]

[1, 2, 3]

In [21]:
t[1].append(4)

In [22]:
t

(100, [1, 2, 3, 4], 'March', 2021)

In [23]:
t[0] = "hundred"

TypeError: 'tuple' object does not support item assignment

In [24]:
t[1].append(5)

In [25]:
t

(100, [1, 2, 3, 4, 5], 'March', 2021)

In [26]:
t[1].remove(4)

In [27]:
t

(100, [1, 2, 3, 5], 'March', 2021)

In [28]:
t[1].pop()

5

In [29]:
t

(100, [1, 2, 3], 'March', 2021)

### =, Shallow Copy & Deep Copy

In [30]:
team_a = ["Dhawan", "Rahane", "Ashwin"]

In [32]:
team_b = team_a    ### Both are refferreing to the same list

In [33]:
team_b

['Dhawan', 'Rahane', 'Ashwin']

In [34]:
team_a.append("Axar")

In [35]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar']

In [37]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar']

In [38]:
team_b.append("Hardik")

In [39]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [40]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

### Shallow copy
* list
* [:]
* copy

In [41]:
team_c = team_a[:]    ## Shallow Copyv

In [42]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [43]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [44]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [45]:
team_a.append("Pant")

In [46]:
team_a

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [47]:
team_b

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [48]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [49]:
id(team_a)

2114376882048

In [50]:
id(team_c)

2114344639680

In [51]:
id(team_b)

2114376882048

In [52]:
team_a[0] = "Shikhar"

In [53]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [54]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [55]:
team_c

['Dhawan', 'Rahane', 'Ashwin', 'Axar', 'Hardik']

In [56]:
team_d = list(team_a)         ### Shallow copy

In [57]:
team_d

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [58]:
team_a.append("Kuldeep")

In [59]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [60]:
team_d

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant']

In [61]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [69]:
team_e = team_a.copy()      ## Shallow copy

In [63]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [64]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [65]:
team_a.append("Jadeja")

In [66]:
team_a

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [67]:
team_e

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep']

In [68]:
team_b

['Shikhar', 'Rahane', 'Ashwin', 'Axar', 'Hardik', 'Pant', 'Kuldeep', 'Jadeja']

In [78]:
list_1 = [100, [1, 2, 3], 200, 300]

In [79]:
list_2 = list_1.copy()

In [80]:
list_1

[100, [1, 2, 3], 200, 300]

In [81]:
list_2

[100, [1, 2, 3], 200, 300]

In [82]:
list_1.append(400)

In [83]:
list_1

[100, [1, 2, 3], 200, 300, 400]

In [84]:
list_2

[100, [1, 2, 3], 200, 300]

In [85]:
list_1[1]

[1, 2, 3]

In [86]:
list_1[1].append(4)

In [87]:
list_1

[100, [1, 2, 3, 4], 200, 300, 400]

In [88]:
list_2

[100, [1, 2, 3, 4], 200, 300]

In [89]:
list_1[1].append(5)

In [90]:
list_1

[100, [1, 2, 3, 4, 5], 200, 300, 400]

In [91]:
list_2

[100, [1, 2, 3, 4, 5], 200, 300]

In [92]:
list_1[1] = "1  May"

In [93]:
list_1

[100, '1  May', 200, 300, 400]

In [94]:
list_2

[100, [1, 2, 3, 4, 5], 200, 300]

### Deep Copy

In [95]:
import copy

In [96]:
dc_1 = ['a', 'b', [100, 200, 300], 'd']

In [97]:
dc_2 = copy.deepcopy(dc_1)

In [98]:
dc_1

['a', 'b', [100, 200, 300], 'd']

In [99]:
dc_2

['a', 'b', [100, 200, 300], 'd']

In [100]:
dc_1.append('d')

In [101]:
dc_1

['a', 'b', [100, 200, 300], 'd', 'd']

In [102]:
dc_2

['a', 'b', [100, 200, 300], 'd']

In [103]:
dc_1[2].append(400)

In [104]:
dc_1

['a', 'b', [100, 200, 300, 400], 'd', 'd']

In [105]:
dc_2        ### there will not be any change

['a', 'b', [100, 200, 300], 'd']

In [106]:
   v = "Virat", 31, "RCB"        ### Packing

In [107]:
type(v)

tuple

In [108]:
print(v)

('Virat', 31, 'RCB')

In [109]:
n, a, t = "Rohit", 33, "MI"

In [110]:
n

'Rohit'

In [111]:
a

33

In [112]:
t

'MI'

In [113]:
type(n)

str

In [114]:
type(a)

int

In [115]:
type(t)

str

In [116]:
c = ["India", "USA", "Shrilanka"]

In [117]:
t_c = tuple(c)

In [118]:
t_c

('India', 'USA', 'Shrilanka')

In [119]:
list_c = list(t_c)

In [120]:
list_c

['India', 'USA', 'Shrilanka']

In [121]:
t = ()

In [122]:
type(t)

tuple

In [123]:
list_1 = list(t)

In [124]:
t

()

In [125]:
list_1

[]

In [126]:
type(list_1)

list

In [127]:
t1 = ("1 May 2021")

In [128]:
type(t1)

str

In [129]:
t2 = ("2 May 2021",)

In [130]:
type(t2)

tuple

In [131]:
t2 = 5

In [132]:
t2

5

In [133]:
t2*5

25